body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

/* Logo için */
.logo img {
    max-width: 250px; /* Büyütülmüþ logo */
    display: block;
    margin: 0 auto 20px;

}
.container {
    max-width: 800px; /* Sayfa geniþliði sýnýrý */
    margin: 0 auto; /* Ortalamak için */
    padding: 0 15px; /* Yatay iç boþluk */
}

header {
    background-color: #263859;
    color: #e0e6f2;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}



h1 {
    color: #82aaff;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #6290c3;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    color: #a1b3cc;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Ekstra okunabilirlik için paragraf arasý boþluk */
p {
    margin-bottom: 1.2em;
    line-height: 1.6;
}

/* Listeler için biraz boþluk */
ul {
    margin-bottom: 1.5em;
}

.rule {
    background-color: #1f2a48;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    color: #cbd5e1;
}
